/* globals.css */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}



html.light, body.light {
  background-color: #ffffff; /* Light theme background */
  color: #000000; /* Light theme text color */
}

html.dark, body.dark {
  background-color: #1a202c; /* Dark theme background */
  color: #ffffff; /* Dark theme text color */
}


.light section {
  background-color: #ffffff;
  color: #000000;
}

.dark section {
  background-color: #1a202c;
  color: #ffffff;
}
